* {
  box-sizing: border-box;
}

body.ownlist/*, .list-block*/{
  background-color: rgb(211,223,235);
  /*background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/524220/9772df80462f9077d15a1175b30938cd25bebfaf.jpg') !important;*/
  background-image: url('https://pbs.twimg.com/media/FRrUdXFakAUXOSp?format=jpg&name=orig') !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center 37.5% !important;
}

/*body.ownlist::after {
  backdrop-filter: blur(10px);
}*/

td.data.score span {
  color: white; 
}

.list-block {
  position: relative;
}

.list-block::before {
  z-indeX: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  height: 100%;
  width: 100%;
  background: rgba(20, 20, 20, 0.375);
}

.list-block::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(180, 10, 255, 0.075), rgba(0, 0, 0, 0));
}

body.ownlist::before {
    z-indeX: -1;
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    height: 100%;
    width: 100%;
    background: rgba(20, 20, 20, 0.3);
}

body.ownlist::after {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    content: " ";
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgba(180, 10, 255, 0.075), rgba(0, 0, 0, 0));
}

*::-webkit-scrollbar {
  position: fixed;
  top: 0; right: 0;
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-track {
  background: rgba(150, 150, 160, 1.0);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.40);
  border: 0.1em solid rgba(150, 150, 160, 1.0);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
}

a {
  color: rgb(79, 146, 255);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fancybox-overlay {
  position: fixed;
  top: 0; left: 0; 
  bottom: 0; right: 0;
  
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: inset 0 0 25% rgba(0, 0, 0, 0.25);

  opacity: 1 !important;
  z-index: 1100;

  animation: fade-in ease-in-out 0.325s;
}

#fancybox-wrap, #fancybox-wrap * {
  box-sizing: initial;
}

#fancybox-wrap {
  position: fixed !important;
  height: auto !important;
  top: 50% !important; left: 50% !important;
  transform: translate(-50%, -50%);
  
  z-index: 1101;

  animation: fade-in ease-in-out 0.325s;
}

#fancybox-inner {
  position: relative !important;
  top: 0 !important; left: 0 !important;
  min-width: 100%; height: 0 !important;
  padding-top: 56.25% !important;

  color: #000;
}

#fancybox-inner > div:not([class]),
#fancybox-inner > div[class=""] {
  margin-top: -56.25%;
  padding: 0 10px;
  padding-top: 23%;
}

#fancybox-frame {
  position: absolute !important;
  top: 0; left: 0;
}

div.header {
  width: 75%;
  padding: 15px;

  transition: width ease-in-out 0.5s;
}

div#list-container.list-container > * {
  animation: content-slide-up ease-in-out 1.5s forwards;
  -webkit-animation: content-slide-up ease-in-out 1.5s forwards;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes content-slide-up {
  0% {
    opacity: 0;
    margin-top: 5%;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}

div.cover-block {
  display: none !important;
}

div#list-container.list-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  width: 100%;
  min-height: calc(100vh - 70px - 100px - 47px);

  background: transparent;
  border: none;
  text-align: left;

  transition: all ease-in-out 0.5s, min-height ease-in-out 0s;
}

div#list-container.list-container > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 75%;

  transition: width ease-in-out 0.5s;
}

div#list-container.list-container > *.list-block * {
  transition: width ease-in-out 0.5s;
}

div#list-container.list-container > * > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-basis: 100%;
  min-width: 100%;
}

div#list-container.list-container > * > *.status-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: initial;
  flex-basis: 100%;
  min-width: 100%;
}

div#list-container.list-container > * > *.status-menu > * {
  flex: 1 1 0;
}

div#list-container.list-container > * > *.list-unit > *.list-status-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-basis: 100%;
}

.list-unit .list-status-title .text {
  height: initial;
  font-size: 1.5em;
}

.status-menu-container {
  cursor: pointer;
  position: relative;
  width: 75%; height: 46px;

  /*border: 1px solid rgba(255, 255, 255, 0.7);*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  background-color: rgba(40, 40, 40, 0.5);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.7),
              0 5px 15px rgba(255, 255, 255, 0.35);

  transition: width ease-in-out 0.5s;
  z-index: 1;
}

.status-menu-container.fixed {
  width: 75%;
  border-radius: 0;
  border-top: 0;
  background-color: rgba(20,20,20,1.0);
  box-shadow: 0 4px 5px -2px rgba(0,0,0,0.35);

  transition: all ease-in-out 0.5s;
}

.status-menu-container .status-button {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75) !important;
  min-width: 200px;

  transition: all ease-in-out 0.15s;
}

.status-menu-container a.status-button:after {
  height: 6px;
}

.status-menu-container .status-button:hover {
  background-color: rgba(120, 120, 255, 0.125);
}

.status-menu-container .status-button.on {
  background-color: rgba(120, 120, 255, 0.1725);
}

.status-menu-container .search-container {
  position: absolute;
  top: -40px; right: 0;
}

.search-container i {
  font-size: 0.95em;
  color: rgba(255,255,255,0.7);
}

#search-button {
  cursor: pointer !important;
  z-index: -1;
  position: absolute;
  margin-top: 0 !important;
  top: 60%; right: 15px;
  transform: translateY(-50%);
}

#search-box {
  margin-top: 0 !important;
  margin-right: 5px;
  height: auto !important;
}

#search-box.open {
  width: fit-content !important;
}

#search-box > input {
  background-color: rgba(40, 40, 40, 0.5);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  outline: none;
  transition: all ease-in-out 0.125s;
}

#search-box.open > input {
  padding: 5px 10px;
  margin-right: 15px;
}

div.list-block {
  margin-bottom: 25px;
  
  /* border: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(220, 220, 220, 0.9);
  border-bottom: 1px solid rgba(220, 220, 220, 0.9); */
  border-radius: 4px;
  overflow: hidden;
  
  box-shadow: inset 0 5px 25px rgba(255, 255, 255, 0.35),
                    0 5px 5px rgba(0, 0, 0, 0.7),
                    0 5px 15px rgba(255, 255, 255, 0.35);
  /*box-shadow: 0 4px 20px -2px rgba(255,255,255,0.35);*/

  min-height: 300px;
}


.list-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: none;
}

.list-table > tbody:nth-of-type(2n+1) {
  background-color: inherit;
}

.list-table > .list-item {
  background: rgba(40, 40, 40, 0.5) !important;
}

.list-table .list-table-header > .header-title {
  background: rgba(40, 40, 40, 0.5);
  color: white;
}

.list-table .list-table-header > .header-title .link:not(:hover),
.list-table .list-table-header > .header-title.image .link {
  color: white !important;
}

.list-table .list-table-data .data {
  display: table-cell;
  padding: 4px 0;
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
}

.list-table .list-table-header th.header-title.number,
.list-table .list-table-header th.header-title.started ~ th.header-title.started, 
.list-table .list-table-header th.header-title.finished, 
.list-table .list-table-header th.header-title.type {
  display: none;
}

.list-table .list-table-data {
  color: white;
}

.list-table .list-table-data .data.number, 
.list-table .list-table-data .data.airing-started, 
.list-table .list-table-data .data.airing-finished, 
.list-table .list-table-data .data.type {
  display: none;
}

.list-table .list-table-data .data.image img.image {
  border: 0;
}

.list-menu-float {
  border: 1px solid rgba(255,255,255,0.3);
  border-left: none;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.35);
}

.list-menu-float .icon-menu.profile {
  width: calc(100% - 1px);
}

.list-menu-float .icon-menu:not(:hover) {
  cursor: pointer;
  background-color: rgba(40, 40, 40, 0.2) !important;
  width: calc(100% - 1px);
}

.list-menu-float > * svg.icon {
  fill: white !important;
}

.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
    border-top: none;
    top: 50px;
}

@media screen and (max-width: 1920px) {

  div#list-container.list-container {
    padding-left: 0;
  }
}

@media screen and (max-width: 1600px) {
  .status-menu-container .status-menu {
    overflow-x: overlay;
  }
}

@media screen and (max-width: 1400px) {
  .status-menu-container {
    width: 90%;
  }

  .status-menu-container.fixed {
    width: 90%;
  }

  div.header {
    width: 90%;
  }

  div#list-container.list-container > * {
    flex-basis: 90%;
  }
}

@media screen and (max-width: 1152px) {
  div#list-container.list-container {
    padding-left: 50px;
  }

  .list-table .list-table-header .header-title.tags, 
  .list-table .list-table-header .header-title.studio, 
  .list-table .list-table-header .header-title.licensor {
    display: none;
  }

  .list-table .list-table-data .data.tags, 
  .list-table .list-table-data .data.studio, 
  .list-table .list-table-data .data.licensor {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  div.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  div.header a.header-title {
    order: 1;
    position: initial;
    background-size: cover;
    
    animation: fade-in ease-in-out 0.85s forwards;
    opacity: 0;
  }

  div.header div.header-menu {
    order: 2;
    position: initial;
    display: block;
    text-align: center;
    flex-basis: 100%;
  }

  div.header div.header-menu div.btn-menu {
    text-align: center;
  }
}